/*
   SIGMAWEBCALC v0.1 (Open Source Project)
   
   por 
      Henrique P. M. Vazquez
      Marcos V. de Souza Apolinario
      Paulo R. P. Macedo
      Ricardo Delamar Roque
      Vitor da S. Leite
      
   Produzido para Faculdade Sumare (Trabalho PPI 2o. Semestre)
   Orientacao Prof: Luciana Akemi Iakabayashi (Tecnologias de Sistemas para Web)
*/

/*
   DICAS:
   Teste com seletores CSS. Extremamente útil: http://www.w3schools.com/cssref/trysel.asp
*/

/* Estes atributos determinam o tamanho do corpo da pagina  */
html, body {
    /* Neste caso o height e width estão fixados em 100%, para que o corpo da pagina ocupe toda a tela onde será visualizada a pagina */
    height: 100%;
    width: 100%;
    /* Neste caso a margin (externa) padding (margem externa) estão sendo anuladas, para o corpo da pagina não possua margens  */
    margin: 0;
    padding: 0;
    /* Aqui esta sendo determinado o tamanho minimo e máximo que a pagina pode atingir, caso ela seja redimencionada  */
    min-width: 650px;
    min-height: 400px;
}

body {
    /* Aqui o atributo display com o valor table, transforma todo o corpo da pagina em tabela */
    display: table;  
    /* Estas fontes são consideradas seguras para uso na Web */
    font-family: arial, sans-serif, lucida;
    font-size: 14px;
}

div {
    /* Nesta Div esta sendo determinado uma largura de 100% ou seja a largura total do corpo da pagina */
    width: 100%;
    /* Como anteriormente foi dito, todo o corpo da pagina foi transformada na disposição de tabela e esta Div esta sendo colocada na linha desta tabela  */
    display: table-row;
    /* Aqui esta sendo determinado a cor branca para esta Div  */
    background: white;
}

.visor {
    height: 20%; /* Obrigatorio */
}

/* Estes atributos determinam o estilo do visor onde é apresentado o resultados dos calculos  */
.visor input {
    /* O atributo position com o valor absolute torna o input (visor) absoluto no corpo da pagina  */
    position: absolute; /* Obrigatorio */
    /* O atributo border-radius com o valor de 5px, determina a curvatura das bordas do input  */
    border-radius: 5px;
    /* Aqui esta sendo determinado uma borda para as laterais e parte superior e inferior do input solida  */
    border: 1px solid #c0c0c0;
    /* Com os atributos width e height esta sendo determinada a altura e largura do input  */
    width: 100%;
    height: 18%;
    /* Aqui é determinado o tamanho do conteudo que será apresentado neste input  */
    font-size: 15vh;
}

/* Nesta bloco é determinada para o input de entrada um fundo transparente  */
.visor input#entrada {
    background-color: transparent; /* Obrigatorio */
}

.visor input#sintaxe {
    color: #bbb;
}

/* Neste bloco é determinado a altura de 100% para os botoes com um fundo com efeito de cor gradiente lenear por toda a extensão do botão */
#botoes_calc {
    height: 100%;
    background: linear-gradient(to bottom, #fff 0, #e6e6e6 100%);
}

#botoes_calc button {
    /* Neste bloco é definido a curvatura das bordas em 5px dos botões */
    border-radius: 5px;
    /* Aqui é definido também um efeito gradiente linear nos botoes  */
    background: linear-gradient(to bottom, #fff 0, #e6e6e6 100%);
    /* Aqui é definodo o tamanho da fonte do botão  */
    font-size: 10vh;
    /* Aqui é definodo a largura dos botões de 19%  */
    width: 19%;
    /* Aqui é determinado o tamanho da borda laterais  */
    border-width: 1px;
    margin-left: 0.5%;
    /* Aqui é determinado a altura dos botões  */
    height: 19vh;
}

/* Aqui é determinado o margin 0, (anulando a margem) e dertermiado a cor com o atributo color  */
#title01 {
    margin: 0;
    color: gray;
}

/* Aqui esta sendo determinada a cor dos botôes de operações  */
.operador {
    color: orange;
}

/* No bloco abaixo esta sendo determinado o efeito hover, ou seja quando o cursor do mouse for passado nos botôes númericos a cor de fundo do botão será preta e a fonte branca  */
#botoes_calc button:hover{
    background: linear-gradient(to bottom, #fff 0, #000000 100%);
    color:white;
}

/* No bloco abaixo esta sendo determinado o efeito hover, ou seja quando o cursor do mouse for passado nos botôes de operação a cor de fundo do botão será laranja e a fonte branca  */
#btLimparUltimo.operador:hover{
    background:orange;
    color:white;
}

#btLimpar.operador:hover{
    background:orange;
    color:white;
}

#btSomar.operador:hover{
    background:orange;
    color:white;
}

#btSubtrair.operador:hover{
	background:orange;
	color:white;
}

#btMultiplicar.operador:hover{
	background:orange;
	color:white;
}

#btDividir.operador:hover{
	background:orange;
	color:white;
}

#btResultado.operador:hover{
	background:orange;
	color:white;
}

/* Aqui é determinado a cor para os separadores  */
.separador {
    color: green;    
}

/* No bloco abaixo esta sendo determinado o efeito hover, ou seja quando o cursor do mouse for passado nos botôes sepadores a cor de fundo do botão será verde e a fonte branca  */
#btPoint.separador:hover{
	background:green;
	color:white;
}

#btAbreParenteses.separador:hover{
	background:green;
	color:white;
}

#btFechaParenteses.separador:hover{
	background:green;
	color:white;
}