/*
   SIGMAWEBCALC v0.0 (Open Source Project)
   
   por 
      Henrique P. M. Vazquez
      Marcos V. de Souza Apolinario
      Paulo R. P. Macedo
      Ricardo Delamar Roque
      Vitor da S. Leite
      
   Produzido para Faculdade Sumare (Trabalho PPI 2o. Semestre)
   Orientacao Prof: Luciana Akemi Iakabayashi (Tecnologias de Sistemas para Web)
*/

/*
   DICAS:
   Teste com seletores CSS. Extremamente útil: http://www.w3schools.com/cssref/trysel.asp
*/

*/
body {
    /* Estas fontes são consideradas seguras para uso na Web */
    font-family: arial, sans-serif, lucida;
    font-size: 14px;
}

.visor {
    height: 30px;
}

.visor input {
    border-radius: 5px;
    border: 1px solid #c0c0c0;
    position: absolute;
}

.visor input#entrada {
    background-color: transparent;
}

.visor input#sintaxe {
    color: #bbb;
}

#botoes_calc button {
    border-radius: 5px;    
}

.operador {
    background-color: orange;
}

.separador {
    background-color: green;    
}

#btResultado {
    width: 50px;
}
